.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


body {
    font-family: "Poppins";
}

h2 {
    font-size: 2.5rem;
}

.navbar {
    height: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}
.navbar-nav {
    column-gap: 12px;
}
.nav-link {
    padding: 8px 8px;
}
.nav-link.home {
    color: #262626;
}
.nav-link.highlight {
    outline: 2px solid #2563EB;
}

.margin-navbar {
    margin-top: 80px;
}


/* Home Page */
.hero-introduction {
    text-align: justify;
}

.project-card-body {
    max-height: 360px;
}
.project-preview-text {
    color: #404040;
    text-align: justify;
}
.project-preview-image {
    height: 312px;
    object-fit: contain;
    margin: 16px 16px;
}
.project-button {
    background-color: white;
    border: 1.5px solid #D4D4D4;
    color: #404040;
    font-size: 14px;
}

#skills h2,
#skills h3 {
    text-align: center;
}
.skill {
    display: inline-block;
    width: 165px;
    height: 180;
    padding: 10px 10px;
}
.skill-icon {
    height: 110px;
    width: 110px;
}
.skill > h4 {
    font-weight: 300;
}

.about-image {
    max-width: 450px;
    width: 100%;
    border-radius: 8px;
}

.large-button {
    height: 50px;
    padding: 12px 24px;
}

.attribution-link {
    font-size: 10px;
    color: black;
    text-decoration-line: none;
}


/* Contact Page */
.contact-image {
    width: 100%;
}

.iti {
    display: block;
}


/* About Page */
.about-banner {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}


/* Responsive Adjustment */
@media (max-width: 991.98px) and (min-width: 768px) {
    #navbarMenu {
        max-width: 200px !important;
    }
    a.nav-link.highlight {
        width: 80px;
    }
    .offcanvas-header {
        height: 80px;
    }
}


@media (max-width: 767.98px) and (min-width: 576px) {
    .navbar {
        height: 70px;
    }
    .navbar-brand > img {
        content: url("../assets/images/website-logo-medium.svg");
    }
    #navbarMenu {
        max-width: 200px !important;
    }
    a.nav-link.highlight {
        width: 80px;
    }
    .offcanvas-header {
        height: 70px;
    }

    .margin-navbar {
        margin-top: 70px;
    }

    .about-banner {
        height: 300px;
    }
}


@media (max-width: 575.98px) {
    .navbar {
        height: 70px;
    }
    .navbar-brand > img {
        content: url("../assets/images/website-logo-small.svg");
        max-height: 40px;
    }
    .navbar-brand > span {
        font-size: 1em !important;
    }

    #navbarMenu {
        max-width: 200px !important;
    }
    a.nav-link.highlight {
        width: 80px;
    }
    .offcanvas-header {
        height: 70px;
    }

    main {
        margin: 0 1.25rem;
    }
    .margin-navbar {
        margin-top: 70px;
    }

    h2 {
        text-align: center;
    }

    .hero-introduction {
        font-size: 1rem;
    }
    #heroButtonGroup {
        justify-content: center !important;
    }

    .project-preview-image {
        height: auto;
    }

    #skills > div > div > div {
        padding: 0 0;
    }

    .about-banner {
        height: 200px;
    }
}


